.spacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: white;
}

.mouseHover:hover { /* Se activa cuando se coloca el mouse sobre el objeto con esta clase */
    background-color: rgb(4,172,194);
    cursor: pointer;
    transition: all 0.7 ease-in-out;
}